@charset "ISO-8859-1";

* {
	font-family: 'Lato', sans-serif;
	font-family: 'Marvel', sans-serif;
	font-family: 'Roboto Mono', monospace;
}

.table {
	background-color: whitesmoke;
}

.adminBoard {
	width: 700px;
	background-color: whitesmoke;
	padding: 15px;
	box-shadow: 3px 3px 10px lightgrey;
}

.dropdown {
	background-color: whitesmoke;
	display: inline-block;
	width: 700px;
	padding: 2rem;
	box-shadow: 3px 3px 10px lightgrey;
	transition: 200ms;
}

.dropdown-content {
	display: none;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
	transform: translateY(5px)
}

.navbar {
	background-color: lightgrey;
	color: white;
}

.card {
	width: 300px;
	height: auto;
	background-color: whitesmoke;
	box-shadow: 3px 3px 10px lightgrey;
	transition: 200ms;
	border: none;
	margin-bottom: 20%;
}

.calendar {
	background-color: whitesmoke;
	width: 300px;
	border-collapse: collapse;
	padding: 5% auto;
	text-align: center;
	border: none;
}

.current-day {
	border: 1px solid lightgrey;
	border-radius: 50%;
}

.link {
	text-decoration: none;
	color: dodgerblue;
	font-weight: normal;
	transition: font-weight .3s ease-in-out;
}

.link:hover {
	font-weight: bold;
}

/* DROPDOWN TOGGLE BOOTSTRAP*/
.dropdown-toggle {
	background-color: whitesmoke;
	display: inline-block;
	width: 700px;
	padding: 2rem;
	box-shadow: 3px 3px 10px lightgrey;
	transition: 200ms;
}

.dropdown-menu {
	border: none;
	background-color: whitesmoke;
	width: 700px;
	background-color: #f9f9f9;
	border-radius: 0;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 2%;
	margin: auto 5%;
}

/* DDROPDOWN CSS */
.dropdown {
	background-color: whitesmoke;
	display: inline-block;
	width: 700px;
	padding: 2rem;
	box-shadow: 3px 3px 10px lightgrey;
	transition: 200ms;
}
.dropdown-hidden {
	background-color: whitesmoke;
	display: inline-block none;
	width: 700px;
	padding: 2rem;
	box-shadow: 3px 3px 10px lightgrey;
	transition: 200ms;
}

.dropdown-content {
	display: none;
	/*   position: absolute; */
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
	transform: translateY(5px)
}

.tb {
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.gptResponse{
		background-color: whitesmoke;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}