@charset "ISO-8859-1";

.navbar {
	background-color: lightgrey;
	color: white;
}

.link {
	text-decoration: none;
	color: dodgerblue;
	font-weight: normal;
	transition: font-weight .3s ease-in-out;
}

.link:hover {
	font-weight: bold;
}

table {
	background-color: whitesmoke;
	width: 700px;
	padding: 2rem;
	box-shadow: 3px 3px 10px lightgrey;
}